*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: inline-grid;
    place-items: center;
    width: 100%;
    background: url(./bk.jpg);
}

.simon {
    position: relative;
    margin-top: 50px;
    padding: 10px;
    border-radius: 5px;
}

.buttonContainer {
    display: inline-grid;
    grid-gap: 10px;
    grid-template-columns: auto auto;
    transform: rotate(45deg);
}

.square {
    border-radius: 5px;
    width: 150px;
    height: 150px;
    cursor: pointer;
}

.square:active,
.active {
    filter: brightness(125%);
}

.red {
    background-color: #ff0000;
}

.blue {
    background-color: #0400ff;
}

.green {
    background-color: #006423;
}

.yellow {
    background-color: #ffcc00;
}

#startButton {
    width: 150px;
    position: absolute;
    top: 5px;
    right: 1px;
    border: none;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 25px;
    cursor: pointer;
    border-radius: 20px;
    color: rgb(0, 0, 0);
    background-color: #ffffff;
    padding: 5px;
}

#startButton:disabled {
    background-color: rgb(255, 255, 255);
}

.winner {
    animation: spin 1s ease-in-out;
}

@keyframes spin { 
    100% { transform:rotate(180deg) } }